TTS_BYTEDANCE_APPID=your_appid
TTS_BYTEDANCE_TOKEN=your_token
TTS_BYTEDANCE_VOICE_TYPE=zh_female_tianmeixiaoyuan_moon_bigtts
TTS_BYTEDANCE_CLUSTER=volcengine_streaming_common

# OpenAI API 配置
OPENAI_API_KEY=your_api_key
OPENAI_BASE_URL=your_base_url
OPENAI_MODEL=your_model
