# TTS 火山引擎配置
TTS_BYTEDANCE_APPID=your_appid
TTS_BYTEDANCE_TOKEN=your_token
TTS_BYTEDANCE_VOICE_TYPE=zh_female_tianmeixiaoyuan_moon_bigtts
TTS_BYTEDANCE_CLUSTER=volcengine_streaming_common

# ASR 火山引擎配置
ASR_BYTEDANCE_APP_KEY=your_app_key
ASR_BYTEDANCE_ACCESS_KEY=your_access_key

# OpenAI API 配置
OPENAI_API_KEY=your_api_key
OPENAI_BASE_URL=your_base_url
OPENAI_MODEL=your_model

# QWEN API KEY
DASHSCOPE_API_KEY=your_api_key
